<div class="col-md-10">
  {{student.name}}&nbsp;
</div>
<div class="col-md-1">
  <button {{action 'delete' student.id}} class="btn btn-danger btn-xs">Excluir</button>
</div>
<div class="col-md-1">
  {{#link-to 
    'students.view'
    student.id
    (query-params textSendButton='Alterar')
    class='btn btn-primary btn-xs'
  }}
    Alterar
  {{/link-to}}
</div>
<br>